@{
    ViewBag.Title = "A Webpage";
    Layout = "_Layout";
}

<h2 class="text-center">Men Drinkin' Fitbits</h2>
<h3 class="text-center">Your new favorite webpage for all things "Looking at charts of people who were playing <i>horrific</i> games while wearing fitbits"
</h3>

<p>For those wishing for proper charts documenting Diaper Chris’s heart rate during the Men Drinkin’ Coffee’s LP serious “Let's Play Horror Game While Wearing A Fitbit” videos, you’re now in luck! By using various OCR screen reading techniques (most of which failed, and I had to resort to writing a shitty Windows 10 app, but anyway), I processed each of the Fitbit videos and tracked the heart rate changes in each of them.</p>

<p>With this, I compiled charts for each of video; apart from SCP, as the monitor was disabled half way through that video, and the Resident Evil live stream, as the later ones left it out. With this information, you can now… umm… look at Chris’s heart rate in chart form. That’s something right? Maybe?
</p>
<p>Anyway, the code for it is <a href="https://github.com/drasticactions/scratch-repo" target="_blank">here</a> for anyone who cares how (shitty) I did it. Hey, it worked and it’s online. Sure, not when the videos were released and it would have been relevant, but whatever!</p>

<p>-	Drastic Actions</p>

